# Day 1 Afternoon Strings

In [1]:
str_1 = "hello"
str_2 = "world"

In [2]:
new_string = str_1 + str_2
print(new_string)

helloworld

In [3]:
my_string = str_1 + ' ' + str_2
print(my_string)

hello world

In [4]:
my_string[0]

'h'

In [5]:
my_string[2]

'l'

In [6]:
my_string[-1]

'd'

In [7]:
len(my_string)

11

In [8]:
my_string[10]

'd'

In [9]:
my_string[11]

IndexError: string index out of range

In [10]:
my_string[-2]

'l'

In [11]:
name_string = "Zeyu Liu"

In [12]:
len(name_string)

8

In [18]:
name_string[0:4]

'Zeyu'

In [19]:
name_string[:4]

'Zeyu'

In [22]:
name_string[5:]

'Liu'

In [23]:
b_string = "banana"

In [28]:
b_string[1] + ' ' + b_string[5]

'a a'

In [29]:
b_string[1:4] + ' ' + b_string[3:]

'ana ana'

## String Methods

In [36]:
AE_quote = "Everybody is a genius. But if you judge a fish \
by its ability to climb a tree, it will live its whole life believing that it is stupid."

*Syntax for count()*

`str.count(substr, start, end)`

In [37]:
AE_quote.count("e")

10

In [39]:
AE_quote.count("e", 0, 20)

2

In [40]:
AE_quote.count("Everybody")

1

*Syntax for find()*

`str.find(substr, start, end)`

In [41]:
AE_quote.find("fish")

42

In [42]:
len(AE_quote)

135

In [43]:
word = AE_quote[42: 42 + len("fish")]

In [44]:
print(word)

fish

In [45]:
# -1 mean not find
AE_quote.find("banana")

-1

*Syntax for index()*

`str.index(substr, start, end)`

In [46]:
AE_quote.index("fish")

42

In [47]:
AE_quote.index("banana")

ValueError: substring not found

In [48]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [49]:
idx_start = AE_quote.index("fish")
idx_end = AE_quote.index("by") - 1
print(idx_start)
print(idx_end)

42
46

In [51]:
word2 = AE_quote[idx_start:idx_end]

In [52]:
print(word2)

fish

In [53]:
AE_quote.count('a')

5

In [69]:
AE_quote.count(' a ')

3

In [54]:
AE_quote.index('genius')

15

In [55]:
AE_quote.index('judge')

34

In [56]:
AE_quote.index('tree')

73

In [64]:
idx_start = AE_quote.index("genius")
idx_end = AE_quote.index(". But") - 1
print(idx_start)
print(idx_end)

15
20

In [62]:
idx_start = AE_quote.index("judge")
idx_end = AE_quote.index("a fish") - 1
print(idx_start)
print(idx_end)

34
39

In [63]:
idx_start = AE_quote.index("tree")
idx_end = AE_quote.index(", it") - 1
print(idx_start)
print(idx_end)

73
76

In [72]:
AE_quote[15: 15 + len("genius")]

'genius'

In [71]:
ER_quote = "   One's philosophy is not best expressed in words; it is expressed in the choices one makes.   "

*Syntax for strip()*

`str.strip(chars)`

In [74]:
ER_quote = ER_quote.strip()
print(ER_quote)

One's philosophy is not best expressed in words; it is expressed in the choices one makes.

*Syntax for startwith()*

`str.startswith(substr)`

In [75]:
ER_quote.startswith("One's")

True

*Syntax for split()*

`str.split(separator, num)`

In [77]:
print(AE_quote.split())

['Everybody', 'is', 'a', 'genius.', 'But', 'if', 'you', 'judge', 'a', 'fish', 'by', 'its', 'ability', 'to', 'climb', 'a', 'tree,', 'it', 'will', 'live', 'its', 'whole', 'life', 'believing', 'that', 'it', 'is', 'stupid.']

In [78]:
print(ER_quote.split())

["One's", 'philosophy', 'is', 'not', 'best', 'expressed', 'in', 'words;', 'it', 'is', 'expressed', 'in', 'the', 'choices', 'one', 'makes.']

In [79]:
print(ER_quote.split(";"))

["One's philosophy is not best expressed in words", ' it is expressed in the choices one makes.']

# Python Day 1 Afternoon
## List
List data type indicated by `[]` . Contains a sequence of values.

In [80]:
[1, 4, 5, 9]

[1, 4, 5, 9]

In [81]:
['apple', 'banana', 'orange']

['apple', 'banana', 'orange']

In [82]:
[2, 'apple', 4.5, [5, 10]]

[2, 'apple', 4.5, [5, 10]]

In [84]:
integers = [1, 2, 3, 4, 5]
fruits = ['apple', 'banana', 'orange']

In [85]:
print(fruits)

['apple', 'banana', 'orange']

In [86]:
type(fruits)

list

In [87]:
len(fruits)

3

In [88]:
fruits[0:2]

['apple', 'banana']

In [89]:
integers[1:4]

[2, 3, 4]

In [91]:
integers[3:]

[4, 5]

### Adding elements to a list

**append()** method that adds the object we pass onto the end of an existing
list

In [92]:
integers.append(6)

In [93]:
print(integers)

[1, 2, 3, 4, 5, 6]

In [94]:
len(integers)

6

### List membership
*syntax*

element in list

or

element not in list

In [97]:
'app' in fruits

False

In [98]:
'fig' not in fruits

True

In [99]:
fruits.append('grape')

In [100]:
fruits.append('pear')

In [101]:
'mango' in fruits

False

In [108]:
items = [1, 2, 3, '4', [5, 'six'], [7]]

In [109]:
4 in items

False

In [110]:
5 in items

False

In [111]:
7 in items

False

In [112]:
[7] in items

True

In [114]:
fruits.extend(['grape', 'fig'])
fruits

['apple', 'banana', 'orange', 'grape', 'pear', 'grape', 'fig', 'grape', 'fig']

In [115]:
items[4][0]

5

In [116]:
items[4][1]

'six'

In [117]:
items[3] = int(items[3])

In [118]:
items

[1, 2, 3, 4, [5, 'six'], [7]]

In [119]:
4 in items

True

In [120]:
items[5] = 7

In [122]:
items

[1, 2, 3, 4, [5, 'six'], 7]

In [123]:
items[-1] = 9

In [124]:
items

[1, 2, 3, 4, [5, 'six'], 9]

In [125]:
items[len(items)-1] = 10

In [126]:
items

[1, 2, 3, 4, [5, 'six'], 10]

In [127]:
string = "My string."

In [128]:
string[-1] = "!"

TypeError: 'str' object does not support item assignment

### Tuples

Tuples are immutable like strings

In [129]:
tu = (1, 2, 3)

In [130]:
type(tu)

tuple

In [134]:
tu[1] = 4

TypeError: 'tuple' object does not support item assignment

In [135]:
tu2 = list(tu)

In [136]:
type(tu2)

list

### Preview: Conditionals with if statements

In [138]:
a = 8
b = 3

if a > b:
    print('a is bigger than b')

a is bigger than b

In [139]:
x = 1547

In [140]:
if x % 17 ==0:
    print('divisible by 17')
else:
    print('not divisible by 17')

divisible by 17

In [141]:
a = 3
b = 5
if a > b:
    print('a is bigger than b')
elif a < b:
    print('a is smaller than b')
elif a == b:
    print('a is equal to b')
else:
    pritn('a is not a number')

a is smaller than b

In [142]:
a = 10
b = 5
if a > b:
    print('a is bigger than b')
    if a == 10:
        print("a is 10")
elif a < b:
    print('a is smaller than b')
elif a == b:
    print('a is equal to b')
else:
    pritn('a is not a number')

a is bigger than b
a is 10